.react-pdf__Page__textContent{
    display: block !important;
    z-index: 9999;
}
.react-pdf__Page__canvas,.react-pdf__Page__textContent{
 margin: 0 auto !important;
 width: round(1* 651.969px, 1px);
    height: round(1* 878.74px, 1px);
}
.react-pdf__Page__textContent span{
    transform: scale(1.1) !important; 
}