input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
  }
  /* .reactEasyCrop_CropArea{
    width: 100% !important;
    height: 100% !important;
  } */
  .jodit-container:not(.jodit_inline) .jodit-wysiwyg{
    padding: 10px 25px !important;
  }
  .jodit-container:not(.jodit_inline) .jodit-workplace{
    max-height: 800px !important;
  }